body{
    background: #ffffff
}

.linea{
    display: flex;
    flex: 100%;
    padding: 40px;
}
.linea-2{
        
    margin-top: 29px;
    margin-left: 80px;
}
.linea-1{
    flex: 80%;
    margin-top:54px;
    margin-left: 80px;
    width: 100%;
}
@media (max-width: 768px){
    .linea{
        flex-direction: column;
        padding: 15px;
    }
    .linea-2{
        padding: 15px 0px;
    }
    

}