body{
    background: #ffffff
}

.titulo{
    display: flex;
    flex: 100%;
    padding: 20px;
}
.titulo-2{
    flex: 40%;
}
.texto-1{
    flex: 60%;
}
@media (max-width: 768px){
    .titulo{
        flex-direction: column;
        padding: 15px;
    }
    .titulo-2{
        padding: 15px 0px;
    }
    

}